{% extends 'admin/base.html.twig' %}

{% block title %}Modification de l'annonce numéro {{ad.id}} {% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Modification de l'annonce {{ad.title}}</h1>
    {{form_start(form)}}

    <div class="row">
        <div class="col">
            <div class="card bg-light border-dark">
                <div class="card-header">
                    <h4 class="card-title">Modifier l'annonce ?</h4>
                </div>
                <div class="card-body">
                    {{form_widget(form)}}
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-check"></i>
                        Enregistrer les modifications
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light border-dark">
                <div class="card-header">
                    <h4 class="card-title">Les réservations</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Préstataire</th>
                                <th>Date de préstation</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in ad.bookings %}
                            <tr>
                                <td>{{booking.id}}</td>
                                <td>{{booking.booker.fullName}}</td>
                                <td>{{booking.createdAt | date('d/m/Y H:i')}}</td>
                                <td>
                                    <a href="#" class="btn btn-primary">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card bg-light border-dark mt-4">
                <div class="card-header">
                    <h4 class="card-title">Les commentaires</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Préstataire</th>
                                <th>note</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in ad.comments %}
                            <tr>
                                <td>{{comment.id}}</td>
                                <td>{{comment.author.fullName}}</td>
                                <td>{{comment.rating}}</td>
                                <td>{{comment.content}}</td>
                                <td>
                                    <a href="#" class="btn btn-primary">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {{form_end(form)}}
</div>
{% endblock %}
