{% extends 'base.html.twig' %}

{% block title %}Réservation n° {{booking.id}}{% endblock %}

{% block body %}

<div class="container">
    <h1>Votre réservation (n°{{booking.id}}) </h1>
    {% if app.request.query.get('withAlert') %}
        <div class="alert alert-success">
            <h4 class="alert-heading">Bravo !</h4>
            <p>
                votre proposition auprès de
                <strong>
                    <a href="{{ path("user_show", {'slug': booking.ad.author.slug })}}">{{booking.ad.author.fullName}}</a>
                </strong>
                pour l'annonce
                <strong>
                    <a href="{{ path('ads_show', {'slug': booking.ad.slug})}}">{{booking.ad.title}}</a>
                </strong>
                a bien été prise en compte !
            </p>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-secondary">
                <h2>Détails</h2>
                <dl class="row alert">
                   <dt class="col-md-4">N° de réservation</dt>
                   <dd class="col-md-8">{{booking.id}}</dd>
                   <dt class="col-md-4">Date prévu</dt>
                   <dd class="col-md-8">{{booking.startDate | date('d/m/Y')}}</dd>
                   <dt class="col-md-4">Points de l'heure</dt>
                   <dd class="col-md-8">{{booking.amount}}</dd>
                   <dt class="col-md-4">Commentaire</dt>
                   <dd class="col-md-8">{{booking.comment | default('Aucun commentaire')}}</dd>
                </dl>
                <hr>
                <h2 class="alert-heading">Status</h2>
                <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>En attente de validation par {{booking.ad.author.fullName}}</p>
                <hr>
                <h2 class="alert-heading">Demandeur</h2>
                <div class="row">
                    <div class="col-md-3">
                        <img class="avatar avatar-medium" src="{{booking.ad.author.picture}}" alt="avatar de {{booking.ad.author.fullName}}">
                    </div>
                    <div class="col-md-9">
                        <h4>
                            <a href="{{path('user_show', {'slug': booking.ad.author.slug})}}">{{booking.ad.author.fullName}}</a>
                        </h4>
                        <span class="badge badge-primary">{{booking.ad.author.ads | length}} annonces</span>
                    </div>
                </div>
                <hr>
                <h2 class="alert-heading">Prestataire</h2>
                <div class="row">
                    <div class="col-md-3">
                        <img class="avatar avatar-medium" src="{{booking.booker.picture}}" alt="avatar de {{booking.booker.fullName}}">
                    </div>
                    <div class="col-md-9">
                        <h4>
                            <a href="{{path('user_show', {'slug': booking.booker.slug})}}">{{booking.booker.fullName}}</a>
                        </h4>
                        <span class="badge badge-primary">{{booking.booker.ads | length}} annonces</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-light">
                <h2 class="alert-heading">Annonce</h2>
                <h4>
                    <a href="{{ path('ads_show', {'slug': booking.ad.slug})}}">{{booking.ad.title}}</a>
                </h4>
                <img src="{{booking.ad.coverImage}}" alt="image de {{booking.ad.title}}" class="img-fluid">
                {{booking.ad.content | raw}}
            </div>
            <hr>
            <div class="alert alert-light" id="comment">
                <h2 class="alert-heading">Votre avis compte !</h2>
                {% if date() > date(booking.startDate) %}
                    {% set comment = booking.ad.commentFromAuthor(app.user) %}
                    {% if comment is not null %}
                        <blockquote>
                            {{comment.content}}
                        </blockquote>
                        <strong>Note : </strong> {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                    {% else %}
                        {{form_start(form)}}
                        {{form_widget(form)}}
                        <button type="submit" class="btn btn-success">Confirmer !</button>
                        {{form_end(form)}}
                    {% endif %}
                {% else %}
                    <p>Vous ne pourrez pas noter cette personne tant que la préstation n'est pas termineée !</p>
                {% endif %}
            </div>


        </div>
    </div>
</div>

{% endblock %}
